extends ../layout

block content
  a(href="/usuarios") Volver al listado de usuarios

  br
  br
  br

  h1 Nuevo Usuario

  br
  br

  form(action='/usuarios/create' method='post')
    .from-group
      label(for="nombre") Nombre:
      input#nombre.form-control(type='text' name='nombre' value=usuario.nombre)
        //-  class=errors.nombre ? 'is-invalid' : ''
      if errors.nombre
        small#nombreHelp.text-danger
          = errors.nombre.message
      br

    .from-group
      label(for="email") Email:
      input#email.form-control(type='text' name='email' value=usuario.email)
        //- class=errors.email ? 'is-invalid' : ''
      if errors.email
        small#emailHelp.text-danger
          = errors.email.message
      br

    .from-group
      label(for="password") Password:
      input#password.form-control(type='password' name='password' )
        //- class=errors.password ? 'is-invalid' : ''
      if errors.password
        small#passwordHelp.text-danger
          = errors.password.message
      br
    
    .from-group
      label(for="confir_pwd") Confirm Pass:
      input#confir_pwd.form-control(type='password' name='confir_pass')
        //- class=errors.confir_pass ? 'is-invalid' : ''
      if errors.confir_pass
        small#confir_passHelp.text-danger
          = errors.email.message
      br
      br
      input.btn.btn-primary(type="submit" value="GUARDAR")