extends ../layout

block content
  a(href="/usuarios") Volver al listado de usuarios

  br
  br
  br

  h1 Actualizando Usuario

  br
  br

  form(action=`/usuarios/update/${usuario.id}` method='post')
    label(for="nombre") Nombre:
    input#nombre(type='text' name='nombre' value= usuario.nombre)
    if(errors.nombre)
      small#nombreHelp.text-danger
        = errors.nombre.message
    br
    br
    input.btn(type="submit" value="GUARDAR")