extends ../layout

block content
  a(href="/bicicletas") Listado de Bicicletas

  br
  br
  br

  h1 Nueva Bicicleta

  br
  br

  form(action='/bicicletas/create' method='post')
    label(for="id") ID:
    input#id(type='text' name='id')
    br
    label(for="color") COLOR:
    input#id(type='text' name='color')
    br
    label(for="modelo") Modelo:
    input#id(type='text' name='modelo')
    br
    label(for="lat") LATITUD:
    input#id(type='text' name='lat')
    br
    label(for="long") LONGITUD:
    input#id(type='text' name='long')
    br
    br
    input.btn(type="submit" value="GUARDAR")