extends ../layout

block content
  a(href="/bicicletas") Listado de Bicicletas

  br
  br
  br

  h1 Actualizando Bicicleta

  br
  br

  form(action=`/bicicletas/update/${bici.id}` method='post')
    label(for="id") ID:
    input#id(type='text' name='id' value= bici.code)
    br
    label(for="color") COLOR:
    input#id(type='text' name='color' value= bici.color)
    br
    label(for="modelo") Modelo:
    input#id(type='text' name='modelo' value= bici.modelo)
    br
    label(for="lat") LATITUD:
    input#id(type='text' name='lat' value= bici.ubicacion[0])
    br
    label(for="long") LONGITUD:
    input#id(type='text' name='long' value= bici.ubicacion[1])
    br
    br
    input.btn(type="submit" value="GUARDAR")